@media screen and (min-width: 500px) {
    body {
        background-color: lightblue;
    }
    header{
        background-color: black;
        color: white;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    
}